<div class="section-box {% if section.is_first %}first{% endif %}" >
    <div class="doublerule-divider"></div>
    <h2>{{ section.title }}</h2>
    <ul>
        {% for article in section.articles %}
            <li class="article {% if forloop.last %} last {% endif %}">
            	{% include "partials/article.html" %}
            </li>
        {% endfor %}
    </ul>
    {% for sec in section.sub_sections %}
       <div class="clear"></div>
       <ul>
            {% for article in sec.articles %}
                <li class="article {% if forloop.last %} last {% endif %}">{% include "partials/article.html" %}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>